<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>USER可见的界面2</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <h3>
           ADMIN管理员可见的界面
        </h3>
        <div class="col-md-12 column">
            <img alt="140x140" src="v3/default3.jpg" class="img-rounded" /> <button type="button" class="btn btn-default btn-block btn-success">按钮</button>
        </div>
    </div>
</div>
</body>
</html>